<header class="header fixed-top">
    <nav class="navbar navbar-expand-sm navbar-main navbar-dark bg-darkblue py-0">
            <div class="container">
                <!-- Navbar Brand -->
                <a href="/" class="navbar-brand text-uppercase fw-bold">TiMa</a>
                <form class="search-form d-none d-sm-flex flex-shrink-1 flex-grow-1 ms-3 me-5">
                    <button class="btn"
                            type="submit"><i class="bi bi-search"></i></button>
                    <input type="text"
                            class="form-control header-input"
                            placeholder="Search">
                </form>
                <ul class="nav navbar-nav d-none d-sm-flex align-items-center">
                    <li class="nav-item dropdown">
                        <a href="#"
                            class="nav-link dropdown-toggle"
                            data-bs-toggle="dropdown"
                            data-bs-caret="false">
                            <span class="me-1 d-flex-inline">
                                <span class="fw-bold text-light">Gia Huy</span>
                            </span>
                            <img src="/images/demi.png"
                                    class="rounded-circle"
                                    width="32"
                                    alt="GHuy">
                        </a>
                        <div id="account_menu"
                                class="dropdown-menu dropdown-menu-end">
                            <div class="dropdown-item-text dropdown-item-text--lh">
                                <div class="fw-bold">Gia Huy</div>
                                <div class="text-muted">@ghuy</div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                                href="profile/editaccount">Edit account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                                href="#">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
</header>