<div class="admin-section">
    <div class="header-section">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-sm p-0">
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-section"
                    type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="nav-section">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a href="/" class="nav-link px-3">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users" class="nav-link px-3">Users</a>
                        </li>
                        <li class="nav-item">
                            <a href="/products" class="nav-link px-3">Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="/orders" class="nav-link px-3">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admins" class="nav-link px-3">Admins</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="intro-section">
        <div class="container">
            <h1 class="my-5">The page is not existed.</h1>
        </div>
    </div>
</div>