<div class="admin-section">
    <div class="header-section">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-sm p-0">
                <button class="navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target="#nav-section"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="nav-section">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link px-3">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users" class="nav-link px-3">Users</a>
                        </li>
                        <li class="nav-item">
                            <a href="/products" class="nav-link px-3">Products</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/categories" class="nav-link px-3">Category</a>
                        </li>
                        <li class="nav-item">
                            <a href="/orders" class="nav-link px-3">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admins" class="nav-link px-3">Admins</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="intro-section">
        <div class="container">
            <div class="d-flex align-items-center py-30">
                <div class="flex-grow-1 flex-shrink-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 align-items-center">
                            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill icon-1"></i></a></li>
                            <li class="breadcrumb-item text-uppercase active">Categories</li>
                        </ol>
                    </nav>
                    <h1 class="m-0 fw-bold">Categories</h1>
                </div>
                <a href="/categories/addcategory"
                    class="btn btn-success ml-3">Create</a>
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="container">
            <div class="card mx-auto" style="width: 65%;">
                <div class="m-3">
                    <form action="/products/search" method="get">
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <div class="search-form">
                                    <select name="category" class="form-control form-select">
                                        {{#select cat}}
                                            <option value="all">All</option>
                                            {{#each category}}
                                                <option value="{{id}}">{{name}}</option> 
                                            {{/each}}
                                        {{/select}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 mb-2">
                                <div class="search-form d-flex">
                                    <input type="text"
                                        class="form-control search"
                                        placeholder="Search"
                                        name="keyword"
                                        autocomplete="off"
                                        value="{{search}}">
                                    <button class="btn"
                                            type="submit"
                                            role="button">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0 table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 65%;">Category Name</th>
                                <th style="width: 15%;" class="text-center">Total Products</th>
                                <th style="width: 20%;" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{{result}}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<style>
 
</style>